body {
  max-width: 100%;
}

.item {
  flex: 1;
  height: 300px;
  min-width: 0;
}

.flex {
  display: flex;
}

.most {
  flex: 1;
}

.less {
  width: 200px;
  flex: none;
}

@media only screen and (max-width: 1142px) {
  .collapse-md {
    display: block;
  }
}

@media only screen and (max-width: 820px) {
  .collapse-sm {
    display: block;
  }
}

@media only screen and (max-width: 574px) {
  .collapse-xs {
    display: block;
  }

  .less {
    width: 100%;
  }
}